.artefactosScreen__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    h1{
        font-size: 7ch;
        color: $primary;
        text-shadow: 0px 0px 2px $dark-gray;
        margin-top: 1rem;
    }
}

.artefactosScreen__card{
    display: flex;
    width: 30vw;
    flex-direction: row;
    border-radius: 12px;
    box-shadow: 2px 2px 5px $dark-gray inset;
    margin: 1rem;
    padding: 1rem;
    font-size: 2ch;
    font-weight: bold;
    color: $dark-gray;
    text-align: center;
    justify-content: center;
    align-items: center;
    h3{
        color: $primary;
    }
}
.artefactosScreen__sections{
    justify-content: center;
    align-items: center;
    section{
        &:first-child{
            text-align: center;
            font-size: 6ch;
        }
    }
}