.buildParticular__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    h1{
        font-size: 7ch;
        color: $primary;
        text-shadow: 0px 0px 2px $dark-gray;
        margin-top: 1rem;
    }
    

}
.buildParticular__armas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px -2px 5px $dark-gray inset;
    border-radius: 12px;
    width: 90vw;
    min-width: 90vw;
    background-color: $primary-low;
    padding: 1rem;
    h2{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}
.buildParticular__armas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    min-width: 80vw;
    margin: 1rem;
    justify-content: center;
    align-items: center;

}
.buildParticular__artefactos-container{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px -2px 5px $dark-gray inset;
    border-radius: 12px;
    width: 90vw;
    min-width: 90vw;
    background-color: $primary-low;
    padding: 1rem;

}
.buildParticular__artefactos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    min-width: 80vw;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.buildParticular__artefactos-item{
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    box-shadow: 2px 2px 5px $dark-gray inset;
    margin: 1rem;
    padding: 1rem;
    font-size: 5ch;
    font-weight: bold;
    color: $primary;
    text-align: center;

}
.buildParticular__stats-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px -2px 5px $dark-gray inset;
    border-radius: 12px;
    width: 90vw;
    min-width: 90vw;
    background-color: $primary-low;
    padding: 1rem;

}
.buildParticular__stat-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.buildParticular__stat-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 12px;
    
    box-shadow: -2px -2px 5px $secondary inset;
    justify-content: center;
    align-items: center;
 
    margin: 1rem;
    padding: 1rem;
    h3{
        color: $primary;
    }
    p{
        margin-top: 0.5rem;
        font-weight: bold;
        box-shadow: 2px 2px 5px $dark-gray inset;
        padding: 1rem;
        border-radius: 12px;
    }

}
@media (max-width:350px){

    .buildParticular__artefactos-item{
        flex-direction: column;
    }
}